/* Universal Style Start */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.orange-text{
    color: orange;
}
.orange-text:hover{
    color: orangered;
    transition: all .4s ease;
}
.tomato-text{
    color: orangered;
}
.tomato-text:hover{
    color: orange;
    transition: all .4s ease;
}
.styled-text{
    font-style: italic;
}
.styled-text a{
    text-decoration: none;
    color: orangered;
}
.styled-text a:hover{
    color: orange;
    transition: all .4s ease;
}
.browse-button{
    margin-bottom: 60px;
    text-align: center;
}
.browse-button a{
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: #575757;
    font-weight: 600;
    border: 2px solid orangered;
    border-radius: 35px; 
}
.browse-button a:hover{
    background-color: orangered;
    color: white;
    transition: all .4s ease;
}
.readmore-button{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    color: #575757;
    font-weight: 900;
    font-size: 15px;
}
.readmore-button:hover{
    color: orangered;
    transition: all .4s ease;
}
.button{
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    padding: 13px 25px;
    background-image: linear-gradient(orange, orangered);
    color: white;
    font-weight: 600;
    border-radius: 35px;
}
.flex-container{
    display: flex;
    margin-bottom: 30px;
}
/* Universal Style End */

/* Banner Container Style Start */
.banner-text{
    margin-top: 190px;
    margin-left: 80px;
    color: #575757;
    color: #828282;
}
.banner-text h1{
    font-size: 50px;
    font-weight: 700;
}
.banner-text p{
    margin-top: 20px;
}
.banner-image{
    padding-left: 150px;
}
.banner-image img{
    width: 90%;
}
/* Banner Container Style End */

/* Categories/Image Container Section Style Start */
.categories-section{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #575757;
    margin-bottom: 30px;
}
.image-container{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 25px;
}
.image-container a{
    text-decoration: none;
    color: white;
}
.image-container a:hover{
    color: orangered;
    transition: all .4s ease;
}
#cakes-item{
    background: url(images/categories/cakes.jpg) no-repeat center;
    background-size: cover;
    margin-right: 1%;
    padding: 95px;
    text-align: center;
    font-size: 25px;
}
#cookies-item{
    background: url(images/categories/cookies.jpg) no-repeat center;
    background-size: cover;
    margin-right: 1%;
    padding: 85px;
    text-align: center;
    font-size: 25px;  
}
#chicken-item{
    background: url(images/categories/chicken.jpg) no-repeat center;
    background-size: cover;
    margin-right: 1%;
    padding: 85px;
    text-align: center;
    font-size: 25px;
}
#vegetable-item{
    background: url(images/categories/vegetable.jpg) no-repeat center;
    background-size: cover;
    padding: 85px;
    text-align: center;
    font-size: 25px;
}
/* Categories/Image Container Section Style End */

/* Top Selling Recipes/ Recipe Container Section Style Start */
.top-selling-recipes{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #575757;
    margin-bottom: 30px;
}
.recipe-container{
    display: flex;
    margin-left: 10%;
    margin-bottom: 30px;
}
.recipe-container h3{
    color: #575757;
    margin-top: 10px;
    width: 65%;
    
}
.recipe-container p{
    color: #828282;
    margin-top: 7px;
    font-size: 15px;
    width: 330px;
}
.recipe-card img{
    width: 330px;
    display: inline-block;
}
.width-33{
    width: 33%;
}
#cookies-card{
    margin-right: 4%;
    border: gray;
    box-shadow: 10px 10px 40px gray;
    padding: 15px 0 25px 18px ;
    width: 350px;
    border-radius: 25px;
}
#steak-card{
    margin-right: 4%;
    border: gray;
    box-shadow: 10px 10px 40px gray;
    padding: 15px 0 25px 18px ;
    width: 350px;
    border-radius: 25px;
}
#soup-card{
    border: gray;
    box-shadow: 10px 10px 40px gray;
    padding: 15px 0 25px 18px ;
    width: 350px;
    border-radius: 25px;
}
/* Top Selling Recipes/ Recipe Container Section Style End */

/* Latest Blog/Blog Container Style Start */
.latest-blog{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #575757;
    margin-bottom: 30px;
}
.blog-container{
    display: flex;
    margin-bottom: 30px;
}
.blog-container a{
    display: inline-block;
    text-align: center;
    width: 75%;
}
#blog-card-one img{
    width: 82%;
    height: 270px;
    margin-left: 26%;
}
#blog-card-one a{
    display: inline-block;
    text-align: center;
    width: 82%;
    margin-left: 26%;
}
#blog-card-two img{
    width: 67%;
    height: 270px;
    margin-left: 20%;
}
#blog-card-two a{
    display: inline-block;
    text-align: center;
    width: 67%;
    margin-left: 20%;
    
}
#blog-card-three img{
    width: 77%;
    height: 270px;
    margin-left: 1%;
}
#blog-card-three a{
    display: inline-block;
    text-align: center;
    width: 77%;
    margin-left: 1%;
}
#blog-card-four img{
    width: 83%;
    height: 270px;
    margin-left: -7%;
}
#blog-card-four a{
    display: inline-block;
    text-align: center;
    width: 83%;
    margin-left: -7%;
}
/* Another Blog Section */
#blog-card-five img{
    width: 82%;
    height: 270px;
    margin-left: 26%;
}
#blog-card-five a{
    display: inline-block;
    text-align: center;
    width: 82%;
    margin-left: 26%;
}
#blog-card-six img{
    width: 67%;
    height: 270px;
    margin-left: 20%;
}
#blog-card-six a{
    display: inline-block;
    text-align: center;
    width: 67%;
    margin-left: 20%;
    
}
#blog-card-seven img{
    width: 77%;
    height: 270px;
    margin-left: 1%;
}
#blog-card-seven a{
    display: inline-block;
    text-align: center;
    width: 77%;
    margin-left: 1%;
}
#blog-card-eight img{
    width: 83%;
    height: 270px;
    margin-left: -7%;
}
#blog-card-eight a{
    display: inline-block;
    text-align: center;
    width: 83%;
    margin-left: -7%;
}
/* Latest Blog/Blog Container Style End */

/* About Container Style Start */
.half-width{
    width: 50%;
}
.about-containter{
    background: url(images/about-banner.png) no-repeat center;
    background-size: cover;
}
.about-image{
    padding-left: 170px;
    margin-top: 60px;
}
.about-image img{
    width: 60%;
}
.about-text{
    padding-right: 40px;
    margin-top: 190px;
    margin-right: 40px;
    color: #575757;
    color: #828282;
}
.about-text h1{
    font-size: 50px;
    font-weight: 700;
    margin-top: -55px;
    margin-bottom: 30px;
}
.about-text p{
    margin-top: 15px;
    margin-bottom: 50px;
}
/* About Container Style End */

/* Social Container Style Start*/
.social-container{
    width: 90%;
    margin: 60px 5%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 15px;
    height: 120px;
    padding-top: 60px;
    padding-left: auto;
    padding-right: auto;   
}
.social-media{
    width: 30%;
}
.social-media h1{
    font-size: 40px;
}
#youtube{
    padding-left: 20%;
}
#instagram{
    padding-left: 5%;
    padding-right: 5%;
}
#dribble{
    padding-right: 20%;
}
/* Social Container Style End*/

/* Footer Container Style Start */
footer{
    text-align: center;
    padding: 30px;
    background-color: black;
}
footer span{
    color: rgba(199, 63, 14, 0.884);
}
footer h3{
    font-size: 25px;
    color: #5B5B5B;
}
footer p{
    margin-top: 30px;
    font-size: 14px;
    color: #FFFFFF;
}
footer h5{
    margin-top: 65px;
    font-size: 15px;
    color: #5B5B5B;
}
/* Footer Container Style End */

/* The End */